[Desktop Entry]
Type=Application
Name=Constellation
GenericName=Matrix Client
Comment=Matrix client for the COSMIC desktop
Comment[en]=Matrix client for the COSMIC desktop
Exec=constellation %U
Icon=fi.joonastuomi.Constellation
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=Matrix;Chat;IM;Messaging;COSMIC;
MimeType=x-scheme-handler/fi.joonastuomi.constellation;x-scheme-handler/matrix;
StartupNotify=true
SingleMainWindow=true
